@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Staatliches&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Staatliches', cursive; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.6;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.navbar {
  height: 60px;
  background: #1F2937;
  color: #fff;
}

.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  transition: .5s;
}

.navbar ul li a:hover {
  color: red;
}

.header{
  background: #1F2937;
  min-height: 400px;
  color: #fff;
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 48px;
}

.header .head{
  max-width: 400px;
  font-size: 250px;
}

.header button{
  padding: 8px 32px;
  border-radius: 10px;
  background: #4285F4;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border: none;
  margin-top: 12px;
}

.team {
  background: #E5E7EB;
}

.team .container {  
  text-align: center;
  overflow: auto;
}

.team .title {
  font-size: 48px;
  margin: 20px 0;
}

.team .boxes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 64px 0;
}

.team .boxes img{
  height: 200px;
  width: 200px;
  border-radius: 12px;
  border: 4px solid #4285F4;
}

.team .box {
  border-radius: 12px;
  width: 200px;
  height: 200px;
}